.action-button
  %a{:href => "/pdf/apel.pdf"}= t 'about.button'

.clr.wraper
  %p.lead= t 'about.lead'

  #sequence-theme
    #sequence 
      %ul.clr
        %li.animate-in 
          %h2.title Razem z mamą i tatą 
          %img.model{:src => "/img/slide1.png", :alt => "Razem z mamą i tatą"} 
        %li 
          %h2.title Krótka drzemka
          %img.model{:src => "/img/slide2.png", :alt => "Krótka drzemka"} 
        %li 
          %h2.title Na spacerze z tatą
          %img.model{:src => "/img/slide3.png", :alt => "Na spacerze z tatą"} 
        %li 
          %h2.title Ja i młodsza o 2 min siostra Olena 
          %img.model{:src => "/img/slide4.png", :alt => "Ja i młodsza o 2 min siostra Olena"} 

  .about.clr
    / .about-pic
    /   %img{:alt => "ja z mamą Krystyną", :src => "/img/about-pic.png"}
    %ul.clr
      %li
        %span.label= "#{t('about.labels.first_name')}:"
        %span.value=  t 'about.first_name'
      %li
        %span.label= "#{t('about.labels.last_name')}:"
        %span.value= t 'about.last_name'
      %li
        %span.label= "#{t('about.labels.year_of_birth')}:"
        %span.value 2011
      %li
        %span.label
          = t 'about.labels.height'
          %small> *
          \:
        %span.value 75cm
      %li
        %span.label
          = t 'about.labels.weight'
          %small> *
          \:
        %span.value 10,5kg
      %li
        %span.label= "#{t('about.labels.siblings')}:"
        %span.value
          = t 'about.siblings'
    %span.notice
      %small *
      = t 'about.state'
      %strong styczeń 2013
  / .about
/ .article
.box.orange
  .wraper.clr
    %p= t 'about.paragraph_1'
    %ul.doctor
      %li
        %h4= t 'about.doctors.cardiologist'
        %p= t 'about.stories.cardiologist'
      %li
        %h4= t 'about.doctors.orthopaedist'
        %p= t 'about.stories.orthopaedist'
      %li
        %h4= t 'about.doctors.ophthalmologist'
        %p= t 'about.stories.ophthalmologist'
    %ul.doctor
      %li
        %h4= t 'about.doctors.endocrinologist'
        %p= t 'about.stories.endocrinologist'
      %li
        %h4= t 'about.doctors.laryngologist'
        %p= t 'about.stories.laryngologist'
      %li
        %h4= t 'about.doctors.pediatrician'
        %p= t 'about.stories.pediatrician'
    %p= t 'about.paragraph_2'
  / .wraper
/ .box.orange
.clr.wraper
  %p.lead= t 'about.paragraph_3'
/ .wraper
