.box.blue
  .clr.wraper
    %p.lead= t 'apel.lead_1'
/ .box blue
.action-button
  %a{:href => "/pdf/apel.pdf"}= t 'about.button'
.wraper.clr
  %p.lead= t 'apel.lead_2'

  .sample.clr
    .clr.data
      %ul.krs
        %li
          %span.label= t 'apel.krs_info'
          %span.val 0000037904
        %li
          %span.label= t 'apel.krs_info_2'
          %span.val 17994 Misiewicz Antoni
    / .col2
    .clr.data
      %figure
        %a{:href => "pdf/apel.pdf", :title => "Apel - plik pdf"}
          %img.wniosek{:alt => "podgląd wniosku", :src => "/img/wniosek.jpg"}
        %figcaption Przykład prawidłowo wypełnionego wniosku
    / .col2
  / .clr
  .fundacja.clr
    %p.lead= t 'apel.paragraph_1'
    %p
      %strong Fundacja Dzieciom  „Zdążyć z Pomocą”
      %br
      ul. Łomiańska 5 01-685 Warszawa
      %br
      15 1060 0076 0000 3310 0018 2615
      %br
      z dopiskiem:
      %span 17994 MISIEWICZ ANTONI - darowizna na pomoc i ochronę zdrowia.
    / .clr
  / .fundacja
/ .wraper
.box.blue
  .clr.wraper
    %p.lead= t 'apel.paragraph_2'
  / .wraper
