!!! 5
%html.no-js
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}

    %meta{:content => "Antoni Misiewicz - Przekaż 1% podatku", :property => "og:title"}
    %meta{:content => "non_profit", :property => "og:type"}
    %meta{:content => "http://www.antonimisiewicz.pl", :property => "og:url"}
    %meta{:content => "http://antonimisiewicz.pl/img/slide1.png", :property => "og:image"}
    %meta{:content => "Antoni Misiewicz - Przekaż 1% podatku", :property => "og:site_name"}
    %meta{:content => "1611765829", :property => "fb:admins"}
    

    %title= t 'title'

    %meta{:content => "", :name => "description"}
    %meta{:content => "width=device-width", :name => "viewport"}

    %link{:href => "/css/normalize.css", :rel => "stylesheet"}
    %link{:href => "/css/main.css", :rel => "stylesheet"}
    %link{:href => "/css/sequencejs-theme.modern-slide-in.css", :rel => "stylesheet"}
    %link{:rel => "shortcut icon", :type => "image/x-icon", :href => "img/favicon.ico"}

    %script{:src => "/js/vendor/modernizr-2.6.1-respond-1.1.0.min.js"}
    %script{:src => "/js/vendor/ckeditor/ckeditor.js"}

  %body.subpage
    #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

    .header-container
      %header.wraper.clr
        %h1.title
          %a{:href => "/", :title => "Antoni Misiewicz.pl"}
            Antoni Misiewicz
            %span> .
            pl
        %nav
          %ul
            %li
              %a{:href => t('nav.links.about'), :class => @active == :about ? 'active' : nil}= t 'nav.about'
            / %li
            /   %a{:href => "moje-zycie"} Moje życie
            %li
              %a{:href => t('nav.links.apel'), :class => @active == :apel ? 'active' : nil}= t 'nav.apel'
            %li
              %a{:href => t('nav.links.contact'), :class => @active == :contact ? 'active' : nil}= t 'nav.contact'
            / %li
            /   %a{:href => t('nav.links.blog'), :class => @active == :blog ? 'active' : nil}= t 'nav.blog'

            %li#language.lang
              - start_pages = {pl: '/', en: '/about-me'}
              %a{:href => start_pages[I18n.locale], :title => "polski", :class => I18n.locale}= t "i18n.#{I18n.locale}"
              .drop
                %ul
                  - [:pl, :en].tap{ |l| l.delete(I18n.locale) }.each do |lang|
                    %li
                      %a{:href => start_pages[lang], :class => lang}= t "i18n.#{lang}"

    .content.clr= yield

    .footer-container
      %footer.wraper.clr
        .credits.right 
          %a{:href => "/"}
            %strong antonimisiewicz.pl
            © 2012
        .social.left
          .fb-like{"data-href" => "http://antonimisiewicz.pl/", "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "450"}
          %span.gplus
            .g-plusone{"data-annotation" => "none", "data-href" => "http://antonimisiewicz.pl/", "data-size" => "medium"}

    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"}
    %script{:src => "/js/vendor/spin.min.js"}
    %script{:src => "/js/vendor/sequence.jquery-min.js"}
    %script{:src => "/js/main.js"}

    :javascript
      var _gaq=[['_setAccount','UA-36681926-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));

    :javascript
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
