!!! 5
%html.no-js
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}

    %title= t 'title'

    %meta{:content => "", :name => "description"}
    %meta{:content => "width=device-width", :name => "viewport"}

    %link{:href => "/css/normalize.css", :rel => "stylesheet"}
    %link{:href => "/css/main.css", :rel => "stylesheet"}
    %link{:href => "/css/sequencejs-theme.modern-slide-in.css", :rel => "stylesheet"}
    %link{:rel => "shortcut icon", :type => "image/x-icon", :href => "img/favicon.ico"}

    %script{:src => "/js/vendor/modernizr-2.6.1-respond-1.1.0.min.js"}

  %body.subpage

    .header-container
      %header.wraper.clr
        %h1.title
          %a{:href => "/", :title => "Antoni Misiewicz.pl"}
            Antoni Misiewicz
            %span> .
            pl
        %nav
          %ul
            %li
              %a{:href => t('nav.links.about'), :class => @active == :about ? 'active' : nil}= t 'nav.about'
            / %li
            /   %a{:href => "moje-zycie"} Moje życie
            %li
              %a{:href => t('nav.links.apel'), :class => @active == :apel ? 'active' : nil}= t 'nav.apel'
            %li
              %a{:href => t('nav.links.contact'), :class => @active == :contact ? 'active' : nil}= t 'nav.contact'

            %li#language.lang
              - start_pages = {pl: '/', en: '/about-me'}
              %a{:href => start_pages[I18n.locale], :title => "polski", :class => I18n.locale}= t "i18n.#{I18n.locale}"
              .drop
                %ul
                  - [:pl, :en].tap{ |l| l.delete(I18n.locale) }.each do |lang|
                    %li
                      %a{:href => start_pages[lang], :class => lang}= t "i18n.#{lang}"

    .content.clr= yield

    .footer-container
      %footer.wraper
        %a{:href => "/"}
          %strong antonimisiewicz.pl
          © 2012

    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"}
    %script{:src => "/js/vendor/spin.min.js"}
    %script{:src => "/js/vendor/sequence.jquery-min.js"}
    %script{:src => "/js/main.js"}

    :javascript
      var _gaq=[['_setAccount','UA-36681926-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
