.action-button
  %a{:href => "/pdf/apel.pdf"}= t 'about.button'

.clr.wraper
  %p.lead= t 'policy.header_1'
  %p= t 'policy.paragraph_1'

  %p.lead= t 'policy.header_2'
  %p= t 'policy.paragraph_2'
  %p= t 'policy.paragraph_3'

  %p.lead= t 'policy.header_3'
  %p= t 'policy.paragraph_4'
